.msg {
    border: 1px solid #DADADA;
    border-radius: 2px;
    padding: 1.5em;
    margin-bottom: 1em;
    margin-top: -1.6em;
    margin-left: -1.6em;
}

.msg-erro {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg-sucesso {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}