<div class="modulo-edicao">
  <div class="modulo-edicao__sidebar">
    <div class="modulo-edicao__topo">
      <h1>{{model}}</h1>
    </div>
    <div class="modulo-edicao__corpo">
      <ul class="lista-entidades">
        <li class="menu-entidades-btn">
          <a class="btn" data-ui-sref-active="btn-active" data-ui-sref="model({model: model, id: 'nova'})">Criar novo</a>
        </li>
        <li class="menu-entidades-btn inline-elements">
          <input type="search" ng-model='filtrarModel' placeholder="filtrar {{model.toLowerCase()}}" style="margin-left:0.5em;min-width:1em;outline:1px solid lightgrey;margin-bottom: 1em;"
          />
        </li>
        <li class="entidade" ng-repeat="item in items">
          <collapse-button ng-if="item.children" scope-prop="item{{::item.Id}}Collapse" starts-closed></collapse-button>
          <a data-ui-sref-active='active' data-ui-sref="model({model:model, id: item.Id})">{{::(item.Nome|| item.RazaoSocial)}}</a>
          <ul class="sub-lista-entidades" collapse="item{{::item.Id}}Collapse" ng-if="item.children && item.children.length" ng-repeat="child1 in ::item.children">
            <li class="menu-entidades-name">
              <collapse-button ng-if="child1.children" scope-prop="item{{::child1.Id}}Collapse" starts-closed></collapse-button>
              <a data-ui-sref-active='active' data-ui-sref="model({model:model, id: child1.Id})">{{::(child1.Nome|| child1.RazaoSocial)}}</a>
            </li>
            <ul class="sub-lista-entidades" collapse="item{{::child1.Id}}Collapse" ng-if="child1.children && child1.children.length"
            ng-repeat="child2 in ::child1.children">
              <li class="menu-entidades-name">
                <collapse-button ng-if="child2.children" scope-prop="item{{::child2.Id}}Collapse" starts-closed></collapse-button>
                <a data-ui-sref-active='active' data-ui-sref="model({model:model, id: child2.Id})">{{::(child2.Nome|| child2.RazaoSocial)}}</a>
              </li>
              <ul class="sub-lista-entidades" collapse="item{{::child2.Id}}Collapse" ng-if="child2.children && child2.children.length"
              ng-repeat="child3 in ::child2.children">
                <li class="menu-entidades-name">
                  <collapse-button ng-if="child3.children" scope-prop="item{{::child3.Id}}Collapse" starts-closed></collapse-button>
                  <a data-ui-sref-active='active' data-ui-sref="model({model:model, id: child3.Id})">{{::(child3.Nome|| child3.RazaoSocial)}}</a>
                </li>
              </ul>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--<div class="modulo-edicao__formulario" ng-if="!!modelId" ng-include="formUrl(model)" ng-controller="ctrl(model)"></div>-->
  <div class="modulo-edicao__formulario" ng-if="!!modelId" data-ui-view="formulario"></div>
</div>