<form>
  <div class="form-group">
    <label for="razaoSocial">Razão Social</label>
    <input id="razaoSocial" name="razaoSocial" ng-model="empresa.RazaoSocial" required/>
  </div>

  <div class="form-group">
    <label for="cnpj">CNPJ</label>
    <input id="cnpj" name="cnpj" ng-model="empresa.CNPJ" required/>
  </div>

  <div class="form-group">
    <label for="endereco">Endereço</label>
    <input id="endereco" name="endereco" ng-model="empresa.Endereco" required/>
  </div>

  <div class="form-group">
    <label for="endereco">Número</label>
    <input id="endereco" name="endereco" ng-model="empresa.EnderecoNumero" required/>
  </div>

  <div class="form-group">
    <label for="EnderecoComplemento">Complemento</label>
    <input id="EnderecoComplemento" name="EnderecoComplemento" ng-model="empresa.EnderecoComplemento" required/>
  </div>

  <div class="form-group">
    <label for="EnderecoLocalidade">Localidade</label>
    <input id="EnderecoLocalidade" name="EnderecoLocalidade" ng-model="empresa.EnderecoLocalidade" required/>
  </div>

  <div class="form-group">
    <label for="EnderecoComplemento">UF</label>
    <input id="EnderecoComplemento" name="EnderecoComplemento" ng-model="empresa.EnderecoComplemento" required/>
  </div>

  <div class="form-group">
    <label for="EnderecoCEP">Cep</label>
    <input id="EnderecoCEP" name="EnderecoCEP" ng-model="empresa.EnderecoCEP" required/>
  </div>

  <div class="form-group">
    <label for="QuantidadeFuncionarios">Quantidade de funcionarios</label>
    <input type="number" id="QuantidadeFuncionarios" name="QuantidadeFuncionarios" ng-model="empresa.QuantidadeFuncionarios" required/>
  </div>
  
  <div class="form-group">
    <label for="InformacoesComplementares">Informacoes complementares</label>
    <textarea id="InformacoesComplementares" name="InformacoesComplementares" ng-model="empresa.InformacoesComplementares" required></textarea>
  </div>
  
  <div class="form-group">
    <label for="InformacoesComplementares">Informacoes complementares</label>
    <textarea id="InformacoesComplementares" name="InformacoesComplementares" ng-model="empresa.InformacoesComplementares" required></textarea>
  </div>
  
  <div class="form-group">
    <label for="AreaAtuacaoId">Área de atuação</label>
    <select ng-model="empresa.AreaAtuacaoId" ng-options="area.Id as area.Nome for area in areasAtuacao">
      <option label=""></option>
    </select>
  </div>

</form>