<div class="modulo-edicao__topo">
  <div class="controles">
    <button class="btn btn-principal" type="button" ng-click="obras.gravar()">Gravar</button>
    <button class="btn" type="button" ng-if="btn.apagar" ng-click="obras.delete()">Apagar</button>
  </div>
</div>

<div class="modulo-edicao__corpo">

  <form name="dadosObra" id="dadosObra" novalidate ng-submit="obras.gravar()">
    <!--Id-->

    <!--Status-->
    <div class="form-group">
      <label class="label__section" for="status">Status</label>

      <div class="inline-elements">
	<input type="radio" id="status_true" name="status" ng-value="true" ng-model="obra.Status" /><label for="label_true">Ativa</label>
	<input type="radio" id="status_false" name="status" ng-value="false" ng-model="obra.Status" /><label for="label_false">Inativa</label>
      </div>
    </div>


    <!--Nome-->
    <div class="form-group">
      <label class="label__section" for="nome">Nome</label>
      <input type="text" id="nome" name="nome" ng-model="obra.Nome" />
    </div>

    <!--Area Total Construida-->
    <div class="form-group">
      <label class="label__section" for="areatotal">Área total construída</label>
      <input type="number" id="areatotal" name="areatotal" ng-model="obra.AreaTotalConstruida" />
    </div>

    <!--VGV-->
    <div class="form-group">
      <label class="label__section" for="vgv">VGV</label>
      <input type="number" id="vgv" name="vgv" ng-model="obra.VGV" />
    </div>

    <!--Descrição-->
    <div class="form-group">
      <label class="label__section" for="descricao">Descrição</label>
      <input type="text" id="descricao" name="descricao" ng-model="obra.Descricao" />
    </div>

    <!--Número Blocos-->
    <div class="form-group">
      <label class="label__section" for="numeroblocos">Número de blocos</label>
      <input type="text" id="numeroblocos" name="numeroblocos" ng-model="obra.NumeroBlocos" />
    </div>

    <!--Inicio Execução-->
    <div class="form-group">
      <label class="label__section" for="inicioexecucao">Início execução</label>
      <input type="date" id="inicioexecucao" name="inicioexecucao" ng-model="obra.InicioExecucao" />
    </div>

    <!--Fim Execução-->
    <div class="form-group">
      <label class="label__section" for="fimexecucao">Início execução</label>
      <input type="date" id="fimexecucao" name="fimexecucao" ng-model="obra.FimExecucao" />
    </div>

    <!--Quantidade de funcionários-->
    <div class="form-group">
      <label class="label__section" for="qtdefuncionarios">Quantidade de funcionários</label>
      <input type="number" id="qtdefuncionarios" name="qtdefuncionarios" ng-model="obra.QuantidadeFuncionarios" />
    </div>

    <!--Padrao da Obra-->
    <div class="form-group">
      <label class="label__section">Padrão da obra</label>

      <div class='inline-elements' ng-repeat="padrao in padroesObra">
	<input id="padrao_{{::padrao.Id}}" type="radio" name="PadraoObraId" ng-model="obra.PadraoObraId" ng-value="padrao.Id">
	<label for="padrao_{{::padrao.Id}}">{{::padrao.Nome}}</label>
      </div>
    </div>
    
    <!--Tipo da Obra-->
    <div class="form-group">
      <label class="label__section">Tipo de obra</label>

      <div class='inline-elements' ng-repeat="tipo in tiposObra">
	<input id="tipo_{{::tipo.Id}}" type="radio" name="TipoObraId" ng-model="obra.TipoObraId" ng-value="tipo.Id">
	<label for="tipo_{{::tipo.Id}}">{{::tipo.Nome}}</label>
      </div>
    </div>

    <!--EmpresaId-->
    <div class="form-group">

      <div class='inline-elements'>
	<label class="label__section">Empresa responsável pela obra</label>
	<a class='menu-edit-sub' data-ui-sref="submodel({submodel: 'empresas', subid: null})">
	  <svg class="form-icon">
	  <use xlink:href="#edit" />
	  </svg>
	  <small>Editar</small>
	</a>
      </div>

      <div class='inline-elements' ng-repeat="empresa in empresas">
	<input id="empresa_{{::empresa.Id}}" type="radio" name="empresaid" ng-model="obra.EmpresaId" ng-value="empresa.Id">
	<label for="empresa_{{::empresa.Id}}">{{::empresa.RazaoSocial}}</label>
      </div>

    </div>

    <!--			this.QuantidadeFuncionarios = 0;
			    this.PadraoObraId = null;
			    this.TipoObraId = null;
			    this.EmpresaId = null;-->
          
          <!--Cenarios fieldset-->
    <fieldset>
      <legend>Cenários e atributos</legend>
      <div class="form-group">
        <div class="controles">
          <div class="inline-elements">
            <label for="cenarios_search">
              <svg class="label-icon">
                <use xlink:href="#search"></use>
              </svg>
            </label>
            <div>
              <input type="search" placeholder="buscar cenários" id="cenarios_search" ng-model="search.cenarios">
            </div>
          </div>
        </div>
      </div>
      <div class="colunas">
        
        <!--Cenarios-->
        <div class="form-group">
          <div class='coluna__header'>
            <label class="label__section" for="AreaAtuacaoId">Cenários</label>
          </div>
          <div class="card cenario__{{card.Type}}" ng-click="showModal(card)" ng-if="card.Type === 'cenario'" ng-repeat="card in mediator.Cenarios track by card.Id">
            <label>{{::card.Nome}}</label>
          </div>
        </div>
        <!--Não selecionados-->
        <div class="form-group">
          <div class='coluna__header'>
            <label class="label__section" for="AreaAtuacaoId">Não selecionados</label>
          </div>
          <div class="card cenario__{{card.Type}}" ng-click="showModal(card)" ng-if="card.Type === 'none'" ng-repeat="card in mediator.Cenarios track by card.Id">
            <label>{{::card.Nome}}</label>
          </div>
        </div>
      </div>
    </fieldset>


  </form>
</div>